.Sh{
	width: 100%;
	font-size: 14px;
	text-align:center;
	height: 40px;
	padding: 5px;
	border-radius: 25px;
}
div#find_ajax_loading .loader {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
div#find_ajax_loading {
    position: absolute;
    width: 100%;
    height: 1080px;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,1);
    z-index: 9;
    display: none;
}
.main_div{
	margin-bottom: 10px;
}

.price-details span{
	font-size: 15px;
}
.card.col-12.custom_cat_show {
    margin: 10px;
    text-align: center;
    background-color: #2f2f2f;
}

.custom_cat_show h5.card-body {
    font-size: 38px;
    font-weight: 700;
    color: white;
}
.custom_pro img {
    height: 300px;
}
@media only screen and (min-width: 320px) and (max-width: 470px) {
    a.but-hover1.item_add.Sh {
        width: 48.33% !important;
        display: inline-block;
    }
    .col-12.menu_site {
        width: 33.33% !important;
        display: inline;
    }
    .app_time_slots {
        width: 49%;
        display: inline-block;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {

    a.but-hover1.item_add.Sh {
        width: 30.33% !important;
        display: inline-block;
    }
    .col-12.menu_site {
        width: 33.33% !important;
        display: inline;
    }
    .app_time_slots {
        width: 32%;
        display: inline-block;
    }
}
@media only screen and (min-width: 591px) and (max-width: 767px) {

    a.but-hover1.item_add.Sh {
        width: 30.33% !important;
        display: inline-block;
    }
    .col-12.menu_site {
        width: 33.33% !important;
        display: inline;
    }
    .app_time_slots {
        width: 32%;
        display: inline-block;
    }
}
@media only screen and (min-width: 471px) and (max-width: 590px) {

    a.but-hover1.item_add.Sh {
        width: 30.33% !important;
        display: inline-block;
    }
    .col-12.menu_site {
        width: 33.33% !important;
        display: inline;
    }
    .app_time_slots {
        width: 32%;
        display: inline-block;
    }
}