.infobarin{
   padding: 50px 30px;
    background-color: #151854;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
    text-align: right;
    background-image: url(../images/video.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-position: center left 15px;
}

.infobarin h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
}

.infobarin p {
    color: #fff;
    text-align: right;
}

.infobarin.infobarin2 {
    background-image: url(../images/ticket.png);
    background-color: #6a32bf;
}
.custom-div{
    background-color: white;
}
.alert.alert-error.alert-dismissib {
    background-color: red !important;
}
.row img {margin-left: 15px;margin-bottom: 10px;}

.custom_btn_log {
    color: white;
    background-color: #123456 !important;
    border-color: #123456 !important;
    border-radius: 10px;
}
form#forgotPassword {
    height: 325px;
}
.admin_log_form input[type="password"],input[type="email"]{
   color: #00ff66 !important;
}
#find_ajax_loading .loader {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
#find_ajax_loading {
    position: absolute;
    width: 100%;
    height: 1080px;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,1);
    z-index: 9;
    display: none;
}