/*
    DEMO STYLE
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body {
    font-family: 'Montserrat', sans-serif;
    background: #F3F3F3;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0px 10px;
    background: #fff !important;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.06);
        z-index: 11;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar-header h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
.sidebar-header h3 img {
    max-width: 40px;
    margin: 9px 9px 0 4px;
}
.wrapper {
    display: flex;
    align-items: stretch;
}
#sidebar {
    min-width: 280px;
    max-width: 280px;
    background: #151854;
    color: #fff;
    transition: all 0.3s;
    padding: 0 20px;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.08);
}
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 8px 6px;
    text-align: center !important;
    font-size: 0.85em;
    display: block;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/*#sidebar.active ul ul a {
    padding: 10px !important;
}*/

#sidebar.active .dropdown-toggle::after {
    top: 25%;
    bottom: 10px;
    right: -20px;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: rotate(270deg);
}
#sidebar .sidebar-header {
    padding: 20px 0;
    background: transparent;
    display: flex;
    justify-content: space-between;
        flex-wrap: wrap;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 5px 0;
    border-bottom: 1px solid #47748b;
}
#sidebar ul li a {
    padding: 8px 13px;
    font-size: 16px;
    display: flex;
    color: #fff;
    align-items: center;
    border-radius: 6px;
}
#sidebar ul li li.active a {
    background: #fff;
    color: #151854;
}

a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 30%;
    right: 5px;
    border: none !important;
    background-image: url(../images/aerow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 25px;
    height: 20px;
    transform: rotate(-90deg);
}
a.dropdown-toggle.collapsed::after
{
    transform: rotate(0deg);
        top: 20%;
}
#sidebar ul li ul li a {
    color: #151854;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
       margin: 5px 0;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
#sidebar ul li a i.material-icons {
    margin-right: 15px;
}
.list-unstyled.custm-li li a {
    position: relative;
    margin-left: 0px;
    font-size: 18px !important;
    padding: 8px 30px 8px 58px !important;
}
.list-unstyled.custm-li li a:before {
    content: '';
    position: absolute;
    background: #000;
    width: 7px;
    height: 7px;
    left: 38px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.list-unstyled.custm-li li a:hover {
    border-radius: 6px;
    background-image: -moz-linear-gradient( 62.068deg, rgb(21, 24, 84) 0%, rgb(89, 78, 204) 100%);
    background-image: -webkit-linear-gradient( 62.068deg, rgb(21, 24, 84) 0%, rgb(89, 78, 204) 100%);
    background-image: -ms-linear-gradient( 62.068deg, rgb(21, 24, 84) 0%, rgb(89, 78, 204) 100%);
    color: #fff !important;
    font-weight: normal;
}
.list-unstyled.custm-li li a:hover:before
{
    background: #fff;
}
li.title span {
    color: #8d8d8d;
}
li.title {
    padding: 17px 15px;
}
li.drop-li ul {
    margin-bottom: 20px;
}
#sidebar ul li a:hover {
    color: #cacaca;
    font-weight: 500;
}
button#sidebarCollapse.focus, button#sidebarCollapse:focus {
    outline: 0;
    box-shadow: none;
}
button#sidebarCollapse {
    padding: 0;
}
#sidebar.active li.drop-li ul {
    position: absolute;
    top: 0;
    left: 80px;
    background: #fff;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.08);
        z-index: 1;
}
#sidebar.active li.drop-li {
    position: relative;
}
#sidebar.active ul li a span {
    display: none;
}
/*#sidebar.active ul li .dropdown-toggle::after {
    display: none;
}*/
#sidebar.active ul li a i.material-icons {
    margin-right: 0;
}

#sidebar.active li.title 
{
    display: none;
}
#sidebar.active .list-unstyled.custm-li li a {
    font-size: 18px !important;
    padding: 8px 25px 8px 25px !important;
    min-width: 200px;
}
#sidebar.active .list-unstyled.custm-li li a:before
{
        left: 10px;
}
#sidebar.active button#sidebarCollapse {
    display: none;
}

#content.active button#sidebarCollapsem {
    display: inline-block;
        padding: 0;
}
.navbar.sticky {
    position: sticky;
    width: 100%;
    top: 0;
}
li.user-details {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.user-details span.status {
    font-size: 13px;
    text-align: left;
    color: #28b505;
}
.profile-activity ul li a {
    padding: 0 !important;
    background: transparent;
}
.profile-activity {
    position: absolute;
    right: 1%;
    top: 100%;
}


.profile-img {
    position: relative;
}
.profile-activity ul {
    background: #fff;
    padding: 20px 30px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.06);
}
.profile-activity ul {
    background: #fff;
    padding: 10px 0px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.profile-activity ul li {
    padding: 10px 30px;
    min-width: 200px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: relative;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
        display: none;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #content button#sidebarCollapsem {
    display: block;
}
li.title {
    display: none;
}
}
#sidebar.active
{
	padding: 0;
}
#sidebar.active ul li
{
	padding: 0 20px;
}
#sidebar.active ul li ul li {
    padding: 0;
}
#sidebar.active .sidebar-header {
    padding: 20px 20px;
    }
    #sidebar.active li.drop-li:hover ul {
    display: block;
}
.title-class {
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    align-items: center;
}
h4.page-name {
    margin-bottom: 0;
    color: #7168f6;
    font-weight: 600;
}
/* forms */
form.default-form {
    width: 100%;
}
form {
    padding: 50px 0;
}
.form-inline .form-group label {
    width: 30%;
    justify-content: flex-start;
}
.form-inline .form-group input , .form-inline .form-group select{
    width: 70%;
}
.form-inline .form-group .custom-control input {
    width: auto;
}


.form-inline .form-group .custom-control label {
    width: auto;
}

.form-inline .custom-control {
    margin-right: 20px;
}
.form-inline label {
    justify-content: flex-start;
}
.form-group {
    padding-bottom: 10px;
}
.custom-file label.custom-file-label {
    width: 100%;
}
.cmn-class {
    padding: 30px 20px;
    background: #fff;
        -webkit-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
    box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
    border: solid 1px #dde4eb;
    margin-bottom: 30px;
}
.btngrp {
    text-align: right;
}
.btngrp .btn {
    margin-left: 10px;
}
@media (max-width: 767px){
.form-inline .form-group label {
    width: 100%;
    justify-content: flex-start;
    padding-bottom: 10px;
}
.form-inline .form-group input, .form-inline .form-group select {
    width: 100%;
}
}



.nav-link {
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}
.u-pro {
    margin-left: 10px;
}
 ul.dropdown-user li .dw-user-box .u-img {
    width: 70px;
    display: inline-block;
    vertical-align: top;
}
.u-img img {
    width: 100%;
}
ul.dropdown-user li .dw-user-box .u-text h4 {
    margin: 0px;
    font-size: 15px;
}
ul.dropdown-user li .dw-user-box .u-text p {
    margin-bottom: 2px;
    font-size: 12px;
}


ul.dropdown-user li .dw-user-box .u-text .btn {
    color: #ffffff;
    padding: 5px 10px;
    display: inline-block;
}
ul.dropdown-user li .dw-user-box {
    padding: 10px 15px;
}
ul.dropdown-user {
    padding: 0;
    list-style: none !important;
}
ul.dropdown-user {
    padding: 0px;
    min-width: 270px;
}
ul.dropdown-user li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
 ul.dropdown-user li .dw-user-box .u-text {
    display: inline-block;
    padding-left: 10px;
}
.btn-rounded {
    border-radius: 60px;
 }
 ul.dropdown-user li .dw-user-box .u-text .btn {
    color: #ffffff;
    padding: 5px 10px !important;
    display: inline-block !important;
    font-size: 12px !important;
}
ul.dropdown-user li a {
    padding: 9px 15px;
    display: block;
    color: #67757c;
}
.top-navbar .navbar-nav > .nav-item.show {
    background: rgba(0, 0, 0, 0.05);
}
li.nav-item.dropdown.u-pro {
    background: rgba(0, 0, 0, 0.05);
}
.navbar-collapse .dropdown-toggle::after
{
	display: none;
}
.profile-pic img {
    width: 30px;
    border-radius: 100%;
}
span.hidden-md-down {
    font-size: 14px;
    white-space: nowrap;
    line-height: 10px;
}
ul.dropdown-user li a:hover {
    background: #e9edf2;
    color: #7268f6;
    text-decoration: none;
}
.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: rgba(120, 130, 140, 0.13);
}
.country img {
    width: 26px;
}
.country .dropdown-menu img {
    width: 21px;
    margin-right: 5px;
}
.mailbox ul li {
    list-style: none;
}
.notify .heartbit {
    position: absolute;
    top: -20px;
    right: -4px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border: 5px solid #ff5c6c;
    border-radius: 70px;
    -moz-animation: puff-in-center 1.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite reverse forwards;
    -o-animation: puff-in-center 1.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite reverse forwards;
    -webkit-animation: puff-in-center 1.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite reverse forwards;
}
.notify .point {
    width: 6px;
    height: 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #ff5c6c;
    position: absolute;
    right: 6px;
    top: -10px;
}
li.nav-item.dropdown.mail {
    margin: 0 10px;
}
.mail a {
    position: relative;
    font-size: 24px;
    line-height: 30px;
}
.notify {
    position: relative;
    top: -17px;
    right: -7px;
}
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.nav-item ul {
    padding: 0 !important;
}
.mailbox ul li .drop-title {
    font-weight: 500;
    padding: 11px 20px 15px;
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}
.mailbox .message-center a .user-img {
    width: 40px;
    position: relative;
    display: inline-block;
    margin: 0 10px 15px 0;
}
.mailbox .message-center a {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    display: block;
    text-decoration: none;
    padding: 9px 15px;
}
.mailbox .message-center a .user-img img {
    width: 100%;
}
.mailbox .message-center a .user-img .online {
    background: #24d2b5;
}
.mailbox .message-center a .user-img .profile-status {
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    left: 30px;
    position: absolute;
    top: 1px;
    width: 10px;
}
.mailbox .message-center a .mail-contnet {
    display: inline-block;
    width: 75%;
    padding-left: 10px;
    vertical-align: middle;
}
.mailbox .message-center a .mail-contnet h5 {
    margin: 5px 0px 0;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
}
.mailbox .message-center a .mail-contnet .mail-desc, .mailbox .message-center a .mail-contnet .time {
    font-size: 12px;
    display: block;
    margin: 1px 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #67757c;
    white-space: nowrap;
        line-height: 15px;
}
.mailbox {
    width: 300px;
}
.mailbox .message-center a .user-img img {
    width: 100%;
    border-radius: 50%;
}
.mailbox a.nav-link.text-center {
    padding: 0 !important;
}
#sidebar ul li ul li a {
    color: #151854;
    font-size: 16px !important;
}
#sidebar ul li.active a {
    background: #fff;
    color: #151854;
}
a.dropdown-toggle.collapsed::after {
    transform: rotate(0deg);
    top: 20%;
}
#sidebar ul li.active .dropdown-toggle::after {
    background-image: url(../images/aerowb.png);
}
#sidebar.active ul li.active .dropdown-toggle::after {
	background-image: url(../images/aerow.png);
}
/*log in*/
.loginin {
    background: #151854;
    padding: 40px;
    max-width: 45%;
    border-radius: 10px;
    margin: 50px auto;
}

.loginin .form-group .form-control {
    font-size: 16px;
    line-height: 20px;
    padding: 13px 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    width: 100%;
    border-radius: 0;
    height: 100%;
    color: #fff;
}
.loginin .form-group .form-control::placeholder{
	color: #fff;
}
.loginin label.form-check-label {
    color: #fff;
}
.loginlogo {
    text-align: center;
}
.loginlogo img {
    width: 90px;
    object-fit: cover;
}
.loginlogo {
    text-align: center;
}
.loginlogo h2 {
    font-size: 30px;
    color: #fff;
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.loginmain {
    height: 100%;
    width: 100%;
}
.loginin button.btn.btn-primary {
    background: #fff;
    color: #151854;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    min-width: 130px;
    border-radius: 17px;
    line-height: 29px;
    font-weight: 600;
}